<div class="template-form-example">
    <div class="form-inner">
        <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <input type="text" id="name" placeholder="Enter_name" name="name" class="form-control" required minlength="4" [(ngModel)]="hero.name"
                    #name="ngModel">
        
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        
                    <div *ngIf="name.errors?.['required']" class="error">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['minlength']" class="error">
                        Name must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div class="form-field">
                <input type="text" id="age" placeholder="Enter_AGe" name="age" class="form-control" required [(ngModel)]="hero.age" #age="ngModel">
        
                <div *ngIf="age.invalid && (age.dirty || age.touched)" class="error">
        
                    <div *ngIf="age.errors?.['required']" class="error">
                        age is required.
                    </div>
                </div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter city">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" color="primary" [disabled]="!contactForm.form.valid">Sumbit</button>

            </div>
        </form>
    </div>
</div>

