<div class="main-page">
  <div class="header">
    <div class="header-name">
      <h1>My First Angular Application</h1>
    </div>
  </div>
  <div class="content-area">
    <div class="menu">
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">about</a>
        </li>
        <li>
          <a routerLink="/application">application</a>
        </li>
        <li>
          <a routerLink="/contactus">contactus</a>
        </li>
        <li>
          <a routerLink="/help">help</a>
        </li>
        <li>
          <a routerLink="/template-form">Template Form</a>
        </li>
        <li>
          <a routerLink="/basic-form">Basic Form</a>
        </li>
      </ul>
    </div>

  </div>
</div>

<router-outlet></router-outlet>